/****************************************************
 * Root Variables
 ****************************************************/
:root {
  --bg: hsl(0, 0%, 98%);
  --text: hsl(200, 15%, 8%);
  --element: hsl(0, 0%, 100%);
}
/* Dark Mode Override */
body.dark {
  --bg: hsl(207, 26%, 17%);
  --text: hsl(0, 0%, 100%);
  --element: hsl(209, 23%, 22%);
}
/****************************************************
 * Global Styling
 ****************************************************/
* {
  box-sizing: border-box;
}
 body {
    background: var(--bg);
    margin: 0;
    font-family: Arial, sans-serif;
    color: var(--text);
}
main {
    height: 100vh;
}
/****************************************************
 * Header
 ****************************************************/
header {
    background: var(--element);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
/****************************************************
 * Controls
 ****************************************************/
.controls {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 2rem;
  flex-wrap: wrap;
}

.controls input,
.controls select,
button {
  padding: 0.75rem;
  border: none;
  background: var(--element);
  color: hsl(0, 0%, 52%);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
/****************************************************
 * Country Grid
 ****************************************************/
main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
  padding: 2rem;
}
/****************************************************
 * Country Card
 ****************************************************/
.country {
  background: var(--element);
  border-radius: 6px;
  padding: 1rem;
  cursor: pointer;
}

.country:hover {
  transform: scale(1.03);
}

.country img {
  width: 100%;
  height: 160px;
  border-radius: 6px;
}

.countryInfo {
  padding: 1rem;
}
/****************************************************
 * Footer
 ****************************************************/
footer {
    background-color:cyan;
    font-size: 15px;
    text-align: center;
    color: hsl(0, 0%, 52%);
    position: fixed;
}