/****************************************************
 * Basic Page Styling
 ****************************************************/
body {
    background-color: gold;
}
main {
    background-color: hsl(0, 0%, 98%);
    height: 100vh;
}

/****************************************************
 * Footer
 ****************************************************/
footer {
    background-color:cyan;
    font-size: 15px;
    text-align: center;
    color: white;
    position: fixed;
}